body {
            background: linear-gradient(48deg,#f59115,#fadafa);
            background: black;
            background-repeat: no-repeat;
            height: 100vh;
            display: grid;
            align-items: center;
        }
        .main {
            margin-left: 50%;
            margin-top: 10%;
            /*   box-shadow: inset 0px 0px 8px #aaaaaa, -3px -4px 89px #aaaaaa;*/
            transform: translate(-50%);
            aspect-ratio: 1 / 1;
            width: 60%;
            max-width: 300px;
            outline: 1px solid rgba(255,255,255,.2);
            border-radius: 50%;
            /*    background: conic-gradient(
  #ff9957 0% 8.33%,
  #adfada 8.33% 16.67%,
  #ff9957 16.67% 25%,
  #adfada 25% 33.33%,
  #ff9957 33.33% 41.67%,
  #adfada 41.67% 50%,
  #ff9957 50% 58.33%,
  #adfada 58.33% 66.67%,
  #ff9957 66.67% 75%,
  #adfada 75% 83.33%,
  #ff9957 83.33% 91.67%,
  #adfada 91.67% 100%
);*/
            /*background: linear-gradient(rgba(255,255,255,.3),transparent);*/
            backdrop-filter: blur(25px);
            color: #fefefd;
        }
        .bubble, .bubble2 {
            position: absolute;
            aspect-ratio: 1 / 1;
            width: 27%;
            border-radius: 30px;
            filter: blur(0px);
            z-index: -5;
            left: 50%;
            transform: translate(-50%);
            background: #00ffff;
            animation: color-rotate 20s linear infinite;
        }
@keyframes color-rotate {
            from {
                filter: hue-rotate(0deg);
            }

            to {
                filter: hue-rotate(360deg);
            }
        }
        .bubble {
            transform: translate(-120%,10%);
        }
        .bubble2 {
            transform: translate(20%,150%);
        }
@media (min-width:400px) {
            .bubble,.bubble2 {
                width: 150px;

            }
            .bubble2 {
                transform: translate(20%,170%);
            }
        }

        .sec {
            aspect-ratio: 1 / 160;
            border-radius: 12px;
            width: .5%;
            animation: second 60s linear infinite;
            position: absolute;
            /*transform: translate(-50%,-50%);*/
            z-index: 4;
            margin-top: -5%;
            margin-left: 1.8%;
        }
        .min {
            z-index: 3;
            aspect-ratio: 1 / 67;
            border-radius: 12px;
            margin-top: 1.5%;
            margin-left: 1.6%;
            width: 1%;
            animation: second 3600s linear infinite;
            position: absolute;


            /* transform: translate(-50%,-50%);*/
        }
        .hour {

            z-index: 2;
            aspect-ratio: 1 / 32;
            border-radius: 12px;
            width: 1.5%;
            margin-top: 11%;
            margin-left: 1.3%;
            animation: second 86400s linear infinite;
            position: absolute;

            /* transform: translate(-50%,-50%);*/

        }
@keyframes second {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
        .indicators {
            text-align: center;

        }
        .op {
            display: grid;
            justify-content: center;
            align-items: center;
            transform: translateX(-2%);
            padding-top: 15%;
        }
        .min,.hour {}
        .sec:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            background: lime;
            width: 100%;
            border-radius: 12px;
            height: 63%;
            z-index: 4;

        }
        .min:before {
            content: '';
            z-index: 3;
            position: absolute;
            left: 0;
            top: 0;
            background: #ff0057;
            width: 100%;
            border-radius: 12px;
            height: 63%;

        }
        .hour:before {
            z-index: 2;
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            background: white;
            width: 100%;
            border-radius: 12px;
            height: 63%;


        }
        .times {
            display: grid;
            justify-content: center;
            align-items: center;

        }
        .times > span {
            position: absolute;
        }
        .times > span:nth-child(1) {
            margin-left: 22%;
            margin-top: -7.3%;
        }
        .times > span:nth-child(2) {
            margin-left: 38.9%;
            margin-top: 25%;
        }
        .times > span:nth-child(3) {
            margin-left: 45.5%;
            margin-top: 70.21%;
        }
        .times > span:nth-child(4) {
            margin-left: 38.9%;
            margin-top: 115%;
        }
        .times > span:nth-child(5) {
            margin-left: 22%;
            margin-top: 148%;
        }
        .times > span:nth-child(6) {
            margin-left: 0%;
            margin-top: 159%;
        }
        .times > span:nth-child(7) {
            margin-left: -22%;
            margin-top: 148%;
        }
        .times > span:nth-child(8) {
            margin-left: -38.9%;
            margin-top: 115%;
        }
        .times > span:nth-child(9) {
            margin-left: -45.5%;
            margin-top: 70.21%;
        }
        .times > span:nth-child(10) {
            margin-left: -39.9%;
            margin-top: 26%;
        }
        .times > span:nth-child(11) {
            margin-left: -24%;
            margin-top: -6.3%;
        }
        .times > span:nth-child(12) {
            margin-left: -1.5%;
            margin-top: -18%;
        }
        .time-panel {
            width: 90%;
            max-width: 500px;
            border-radius: 12px;
            margin-left: 50%;
            /*  background: rgba(255,254,255,.1);
            background: conic-gradient(from  0deg, rgba(255,254,255,.2),rgba(255,255,255,0));*/
            /*  backdrop-filter: blur(0px);*/
            transform: translate(-50%);
            margin-top: 15%;
            margin-bottom: 14%;
            color: white;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
            transition-duration: 2s;
            overflow: hidden;
            backdrop-filter: blur(18px);

        }
     :root {
            --anime = "";
            /*animation will goes here from js*/
        }
        .time-panel:before {
            content: '';
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 120%;
            margin-left: -10%;
            margin-top: -42%;
            aspect-ratio: 1 / 1;
            background: conic-gradient(from 0deg, transparent,rgba(255,254,255,.2));
            animation: var(--anime);
            border-radius: 50%;
            transform: rotate(0deg);
        }

        .dot {
            color: rgba(255,255,255,.8);
            font-size: 60px;
            font-weight: 900;
        }
        #h,#s,#m {
            color: white;
            font-size: 60px;
            font-weight: 900;
        }
        .author {
            margin-left: 50%;
            position: relative;
            transform: translate(-50%);
            color: #fff;
            font-family: Courier New;
            border-radius: 12px;
            background: linear-gradient(180deg,rgba(255,255,255,.2),transparent);
            width: 80%;
            max-width: 480px;
            text-align: center;
            padding: 5px;
            font-size: 15px;
            text-shadow: 0px 3px 2px #fafafa;
            margin-bottom: 10%;
        }
        .me {
            font-weight: 600;
            transition: .5s;
        }
        .me:hover {
            text-decoration: underline;
            font-weight: 900;
        }
        .set {

            width: 90%;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
            border: 1px solid rgba(255,255,255,.2);
            box-shadow: inset 0px 0px 37px rgba(255,255,255,.3);
            border-radius: 30px;
            aspect-ratio: 1 / 1.3;
        }